html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 88, 160);
  user-select: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#BG {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.flag {
  width: 150px;
  margin-left: 15px;
  position: absolute;
}

.main {
  display: flex;
  flex-direction: column;
}

.sec1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  z-index: 1;
}

.sec {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.build, .get {
  font-size: 5rem;
  margin: 0;
  padding: 0;
  color: white;
  width: 90%;
}

.flask {
  color: rgb(117, 239, 255);
}

.slushie {
  color: rgb(117, 239, 255);
}

.btns {
  display: flex;
  gap: 25px;
  margin-top: 25px;
}

.btn {
  height: 52.5px;
  width: 200px;
  border-radius: 12px;
  outline: none;
  border: none;
  font-size: clamp(10px, 1.1rem, 25px);
  background-color: rgb(117, 239, 255);
  color: rgb(0, 0, 0);
  transition: all 0.3s ease;
  white-space: nowrap;
  width: clamp(160px, 11vw, 250px);
}

.btn:hover {
  cursor: pointer;
  transform: translateY(-6px);
  background-color: rgb(94, 190, 224);
}

.ws {
  background-color: white;
}

.ws:hover {
  background-color: rgb(209, 209, 209);
}

.how {
  font-size: 60px;
  color: white;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
  grid-auto-flow: dense;
  gap: clamp(1rem, 4vw, 3rem);
  width: 95%;
  margin-top: 25px;
  justify-items: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.grid-item {
  background-color: rgb(66, 156, 189);
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  min-height: 250px;
  max-height: 250px;
  padding: clamp(1rem, 3vw, 2rem);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  border: 2px solid rgb(25, 81, 102);
  justify-self: center;
  flex: 1 1 250px;
}

.gt {
  margin-bottom: 0;
  font-size: 45px;
  color: rgb(79, 243, 255);
}


.gp {
  margin-top: 10px;
  font-size: 24px;
  width: 85%;
  color: white;
}

.reqs {
  margin-top: 100px;
}

.reqBox {
  margin-top: 50px;
  width: 95%;
  max-width: 1000px;
  background-color: rgb(66, 156, 189);
  border-radius: 12px;
  border: 2px solid rgb(25, 81, 102);
}

@media (max-width: 675px) {
  .build, .get {
    font-size: 3rem;
  }  
}

@media (max-width: 370px) {
  .btns {
    flex-direction: column;
    gap: 10px;
  }
}